@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>This web page is a project where you can plan a trip.</h2>
</hgroup>

<article>
    <p>
        Register item to commit before the trip.
    </p>

    <p>
        Register items to carry on the trip.
    </p>

    <p>
        Checklist of trip items.
    </p>

    <p>
        Set item commited.
    </p>
</article>

<aside>
    <h3>Important links</h3>
    <p>
        You will have the important links that you should visit on this website
    </p>
    <ul>
        <li><a href="~/">Trip List</a></li>
        <li><a href="~/">Next Trip</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>