@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>This web page is a project where you can plan a trip.</h2>
</hgroup>

<article>
    <h1>Breaking Plans</h1>
    <p><strong>Author:</strong> Luis Arce, <strong>Published:</strong> Today</p>

    <div>
        <img src="https://worldtraveland.files.wordpress.com/2014/03/planning-the-trip-1.jpg" width="100%">
        <span>Planning your trips</span>
    </div>

    <p>
        This website will provide your a good way to handle your trips.
    </p>
    <p>
        With this you are going to plan the steps that you need to follow to have a successful trip, and the goals that you
        need to complete to
    </p>
    <p>Here you have the features availables on this platform</p>

    <ul>
        <li>
            Register item to commit before the trip.
        </li>

        <li>
            Register items to carry on the trip.
        </li>

        <li>
            Checklist of trip items.
        </li>

        <li>
            Set item commited.
        </li>
    </ul>


</article>

<aside>
    <h3>Important links</h3>
    <p>
        You will have the important links that you should visit on this website
    </p>
    <ul>
        <li><a href="~/">Trip List</a></li>
        <li><a href="~/">Next Trip</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>