@{

  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Welcome";

  NextTripDBEntities1 db = new NextTripDBEntities1();
  List<NextTrip> trips = db.NextTrips.ToList<NextTrip>();
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Plan your trips and be aware of what things you should do before going to enjoy your trip.</h2>
        </hgroup>
        <p>
            You can share your trips with people that can be interested to the same trip and maybe you 
            can be happy to go with them.
        </p>
    </div>
</section>
}

<h3>Top 10 comming trips:</h3>
<a href="~/NewTrip.cshtml" class="btn btn-primary"> New Trip</a>

<ol class="round">
    @foreach (var trip in trips)
    {
        <li class="one">
            <h5>@trip.Location</h5>
            <figure>
                <img src="@trip.ImageUrl" alt="The Pulpit Rock" width="304" height="228">
            </figure>
            <p>
                <strong>Date: </strong><time style="color:blue;" datetime="2017-06-24">June 24st, 2017</time>
            </p>
            @trip.Description
        </li>
    }

    <li class="one">
        <h5>Totora</h5>
        <figure>
            <img src="http://www.boliviaentusmanos.com/turismo/imagenes/totora1.jpg" alt="The Pulpit Rock" width="304" height="228">
        </figure>
        <p>
            <strong>Date: </strong><time style="color:blue;" datetime="2017-06-24">June 24st, 2017</time>
        </p>
        This is a place where I always enjoy to go back because is where I growth and
        I would like to go back every time I can.
    </li>

    <li class="two">
        <h5>Valle sajta</h5>
        <figure>
            <img src="http://mw2.google.com/mw-panoramio/photos/medium/80232051.jpg" alt="The Pulpit Rock" width="304" height="228">
        </figure>
        <p>
            <strong>Date: </strong><time style="color:blue;" datetime="2017-07-23">July 23st, 2017</time>
        </p>
        This is a very good place where I like to travel because it is a very peaceful place and
        very enjoyable water an environment
    </li>

    <li class="three">
        <h5>Chile</h5>
        <figure>
            <img src="http://enviajes.cl/wp-content/uploads/2013/03/Viaje-a-Iquique.jpg" alt="The Pulpit Rock" width="304" height="228">
        </figure>
        <p>
            <strong>Date: </strong><time style="color:blue;" datetime="2017-10-31">October 31st, 2017</time>
        </p>
        Well, Chile is a country where I like to enjoy to be on vacation, there is a beach that is
        the place that I like to be as much time I could.
    </li>
</ol>