@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Plan your trips and be aware of what things you should do before going to enjoy your trip.</h2>
        </hgroup>
        <p>
            You can share your trips with people that can be interested to the same trip and maybe you 
            can be happy to go with them.
        </p>
    </div>
</section>
}

<h3>Top 10 comming trips:</h3>
<span class="myButton" id="myButton" 
      style="box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;background: linear-gradient(rgb(237, 237, 237) 5%, rgb(223, 223, 223) 100%) rgb(237, 237, 237);border-radius: 6px;border: 1px solid rgb(220, 220, 220);display: inline-block;cursor: pointer;color: rgb(119, 119, 119);font-family: Arial;font-size: 15px;font-weight: bold;padding: 6px 24px; text-decoration: none; text-shadow: rgb(255, 255, 255) 0px 1px 0px;">ADD</span>
<ol class="round">
    <li class="one">
        <h5>Totora</h5>
        <figure>
            <img src="http://www.boliviaentusmanos.com/turismo/imagenes/totora1.jpg" alt="The Pulpit Rock" width="304" height="228">
        </figure>
        <p>
            <strong>Date: </strong><time style="color:blue;" datetime="2017-06-24">June 24st, 2017</time>
        </p>
        This is a place where I always enjoy to go back because is where I growth and
        I would like to go back every time I can.
    </li>

    <li class="two">
        <h5>Valle sajta</h5>
        <figure>
            <img src="http://mw2.google.com/mw-panoramio/photos/medium/80232051.jpg" alt="The Pulpit Rock" width="304" height="228">
        </figure>
        <p>
            <strong>Date: </strong><time style="color:blue;" datetime="2017-07-23">July 23st, 2017</time>
        </p>
        This is a very good place where I like to travel because it is a very peaceful place and
        very enjoyable water an environment
    </li>

    <li class="three">
        <h5>Chile</h5>
        <figure>
            <img src="http://enviajes.cl/wp-content/uploads/2013/03/Viaje-a-Iquique.jpg" alt="The Pulpit Rock" width="304" height="228">
        </figure>
        <p>
            <strong>Date: </strong><time style="color:blue;" datetime="2017-10-31">October 31st, 2017</time>
        </p>
        Well, Chile is a country where I like to enjoy to be on vacation, there is a beach that is
        the place that I like to be as much time I could.
    </li>
</ol>