@{

  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Welcome";

  NextTripDBEntities1 db = new NextTripDBEntities1();
  List<NextTrip> trips = db.NextTrips.ToList<NextTrip>();
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Plan your trips and be aware of what things you should do before going to enjoy your trip.</h2>
        </hgroup>
        <p>
            You can share your trips with people that can be interested to the same trip and maybe you 
            can be happy to go with them.
        </p>
    </div>
</section>
}

<h3>Top 10 comming trips:</h3>
<a href="~/TripNew.cshtml" class="btn btn-primary"> New Trip</a>

<ol class="round">
    @foreach (var trip in trips)
    {
        <li class="one">
            <h5>@trip.Location</h5><a href="~/TripShow.cshtml?Id=@trip.Id">SHOW</a><a href="~/TripEdit.cshtml?Id=@trip.Id">EDIT</a>
            <figure>
                <img src="@trip.ImageUrl" alt="The Pulpit Rock" width="304" height="228">
            </figure>
            <p>
                <strong>Date: </strong><time style="color:blue;" datetime="2017-06-24">June 24st, 2017</time>
            </p>
            @trip.Description
        </li>
    }
</ol>