@{
  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Edit Trip";

  NextTrip nextTrip = new NextTrip();
  string Id = Request.QueryString["Id"];
  if (Id.IsEmpty())
  {
    Response.Redirect("Default.cshtml");
  }
  NextTripDBEntities1 db = new NextTripDBEntities1();

  if (IsPost)
  {
    nextTrip = db.NextTrips.First(n => n.Id.ToString() == Id);
    string tripLocation = Request.Form["tripLocation"];
    string tripImage = Request.Form["tripImage"];
    string tripDescription = Request.Form["tripDescription"];

    nextTrip.Location = tripLocation;
    nextTrip.ImageUrl = tripImage;
    nextTrip.Description = tripDescription;

    db.SaveChanges();
    Response.Redirect("Default.cshtml");
  } else
  {
    if (db.NextTrips.Any(n => n.Id.ToString().Equals(Id)))
    {
      nextTrip = db.NextTrips.First(n => n.Id.ToString() == Id);
    }
    else
    {
      Response.Redirect("Default.cshtml");
    }
  }
}

<hgroup class="title">
  <h1>@Page.Title.</h1>
  <h2>Add new trip.</h2>
</hgroup>

<form method="post">
  <dt><label for="tripLocation">Tip Location</label></dt>
  <dd><input id="tripLocation" name="tripLocation" type="text" placeholder="trip location" required value="@nextTrip.Location" /></dd>
  <dt><label for="tripImage">Tip Image</label></dt>
  <dd><input id="tripImage" name="tripImage" type="text" placeholder="trip image" required value="@nextTrip.ImageUrl" /></dd>
  <dt><label for="tripDescription">Description</label></dt>
  <dd><textarea id="tripDescription" name="tripDescription" type="text" placeholder="Description of the trip"> @nextTrip.Description </textarea><br /></dd>
  <input type="submit" value="Save" />
</form>