@{

  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Show Trip Information";

  NextTrip trip = new NextTrip();
  string id = Request.QueryString["Id"];
  if (id.IsEmpty())
  {
    Response.Redirect("Default.cshtml");
  }
  NextTripDBEntities1 db = new NextTripDBEntities1();

  if (!IsPost)
  {
    if (db.NextTrips.Any(n => n.Id.ToString() == id))
    {
      trip = db.NextTrips.First(n => n.Id.ToString() == id);
    }
    else
    {
      Response.Redirect("Default.cshtml");
    }
  }
}

<hgroup class="title">
  <p>@Page.Title.</p>
</hgroup>

<h2>@trip.Location</h2>
<dl class="dl-vertical">
  <dd><img src="@trip.ImageUrl" width="350" /></dd>
  <dd>@trip.Description</dd>
</dl>
